body {
  padding-top: 56px; /* should be the same value as .nav-hide */
}

.font{
  color:#FF7B57;
}

.nav-hide {
  top: -56px;
}

.nav-show {
  top: 0;
}

/* main navigation */
nav {
  position: fixed;
  width: 100%;
  z-index: 10000;

  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;

  transition: top 0.2s ease-in-out;
}

nav ul {
  margin: 0;
  background-color: #fff;
}

nav ul li {
  display: inline;
  float: left;
  position: relative;
  margin: 0;

  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  padding: 14px 16px;

  color: #757575;
  font-size: 1.7rem;
  text-decoration: none;

  transition: 0.2s;
}

/* add caret for drop menu */
nav ul > li a:not(:only-child):after {
  content: "\00a0\00a0▼";
  font-size: 0.8rem;
  vertical-align: middle;
}

/* sub menu */
nav ul ul {
  position: absolute;
  min-width: 180px;

  height: 0px;
  overflow: hidden; /* hide sub menu */
}

nav ul li:hover ul {
  height: auto;
  overflow: visible; /* show sub menu */

  border: 1px solid #dcdcdc;
}

nav ul ul li {
  display: list-item;
  float: none;
}

nav ul ul li a {
  display: block;
}

/* Change background color of links on hover */
nav ul li a:hover {
  background-color: #eee;
  color: #757575;
}

/* Float right the list item that should be right aligned */
nav ul li.right {
  float: right;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
nav ul li.icon {
  display: none;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width: 880px) {
  nav ul li:not(:first-child) {
    display: none;
  }
  nav ul li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "mobile" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the nav look good on small screens */
@media screen and (max-width: 880px) {
  nav.mobile ul {
    /* position: relative; */
  }
  nav.mobile ul li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.mobile ul li {
    float: none;
    display: inline;
  }
  nav.mobile ul li a {
    display: block;
    text-align: left;
  }
  nav.mobile ul li ul {
    position: relative;
    height: auto;
    overflow: visible;
    padding-left: 20px;
  }
  nav.mobile ul li:hover ul {
    border: none;
  }
  nav.mobile ul li.right {
    float: none;
  }
}

.logo {
  max-width: 100px;
  padding: 0;
}

/* Form */

.form_container {
  margin-left: auto;
  margin-right: auto;
  width: 63%;
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;  
  border-radius: 6px 6px 6px 6px;
}

.form_title {
  font-size: large;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .form_container {
    width: 94%;
    padding: 6%;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;  
    border-radius: 6px 6px 6px 6px;
  }
  .profile {
    margin-top: 100px;
  }
}

.alert {
  padding: 20px;
  color: white;
  margin: 20px;
}

.alert-danger {
  background-color: #e4685f;
}

.alert-success {
  background-color: #5d6dff;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.alert-msg {
  color: red;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.remember-checkbox {
  float: left;
}

.profile {
  width: 100%;
  margin-top: 0px;
}

.profile_img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
}

.profile_img_box {
  display: inline-block !important;
  overflow: hidden;
  position: relative;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  min-height: 300px;
}

@media (max-width: 549px) {
  .profile {
    margin-top: 250px;
  }
}

/******************************************** Home *****************************************/

.section{
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading,
.section-description{
  margin-bottom:1.2rem;
}

.showcase-img{
  position: relative;
  max-width: 80%;
  margin:3rem auto -12rem;
}

.section-a{
  background-image: url('../image/section-bg.jpg');
  background-size:cover;
  color:#fff;
  padding-bottom:5rem;
}

.section-a .fa, .section-a .far,
.section-c .fa, .section-c .far,
.section-c .fas{
  font-size:40px;
  margin-bottom:.5rem;
  color:#ffd8be;
}

.section-c{
  background-image: url('../image/section-bg.jpg');
  background-size:cover;
  color:#fff;
}

.section-c .section-description{
  margin-bottom:4rem;
}

@media(min-width:750px){
  .showcase-heading{
    font-size:3.0rem;
    padding-top:11rem;
  }
}

.section-b-container {
  height: 200px;
  width: 100%;
}

.section-b-img {
  height: 200px;
  display: inline-block;
  vertical-align: middle;
}

.front_car_img{
  width: 100%;
}

.section-b-desc {
  vertical-align: middle;
  padding-top: 40px;
  display: inline-block;
}

.section-b-rate {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}

/******************************************** Home *****************************************/

/* Google Map API */
.map {
  width: 100%;
  height: 300px;
}


/* Search Bar*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  /*
  border: 3px solid #e4685f;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF; */
}

.searchTerm:focus{
  color: #FF7B57;
}

.searchButton:active {
  background-color: #FF7B57;
  color: white;
  /* width: 40px;
  height: 36px;
  border: 1px solid #e4685f;
  background: #e4685f;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px; */
}

.time_set_btn:active {
  background-color: #FF7B57;
  color: white;
}

.time_set_btn{
  float: right;
  margin-right: 15px;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map_book_button{
  height: 18px;
  width: 50px;
  padding: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 7px;
  line-height: 0;
}

.datetimePicker{
  margin-top: 20px;
}

.date_picker{
  width: 65%;
}

.time_picker{
  width: 30%;
}

[type="date"]::-webkit-inner-spin-button,
[type="time"]::-webkit-inner-spin-button {
  display: none;
}

.car_row:hover{
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.popover__title {
  text-decoration: none;
  color: black;
  text-align: center;
}

.popover__wrapper {
  position: relative;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  transform: translate(0, 10px);
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #eee transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.car_row:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}

.footer_container {
  height: 80px;
}

.footer-block {
  padding: 5px;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#footer {
  /* Placeholder footer styles */
  text-align: center;
  margin-bottom: 30px;
}

.booking_form_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}

.booking_form_container .four {
  margin-left: 5px;
}

.booking_form_title {
  font-size: 30px;
}

.booking_form {
  font-size: 17px;
  background-color: #f3f3f3;
  padding-top: 13px;
  padding-bottom: 13px;
}

.booking_form_label {
  vertical-align: middle;
}

.booking_form .row .four{
  font-weight: bold;
  text-align: right;
  padding: 5px 0;
}
.booking_form .row .eight{
  text-align: left;
  padding: 5px 0;
}

@media screen and (max-width: 600px) {
  .booking_form .row .four{
    text-align: left;
  }
}

.detail_map_container {
  margin-bottom: 15px;
}


.car_detail_img {
  width: 100%;
}

.car_detail_img_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.booking_submit_button {
  text-align: center;
}

.bookings_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}

.valid_bookings_container {
  width: 100%;
  margin-top: 50px;
  text-align: left;
  overflow-x:auto;
}

.valid_bookings {
  min-height: 150px;
}

.past_bookings_container {
  width: 100%;
  margin-top: 50px;
  text-align: left;
  overflow-x:auto;
}

.past_bookings {
  min-height: 150px;
}

.bookings_container .column,
.bookings_container .columns {
  padding-top: 10px;
}

.cancelBtn:hover {
  cursor: pointer;
}

.dropdown {
  min-width: 20px;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  padding: 5px;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {background-color: #ddd;}

.booking_detail_container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}

.details_container {
  width: 100%;
  margin-top: 50px;
  text-align: left;
  overflow-x:auto;
}

.booking_detail_car{
  margin-bottom: 40px;
}

.booking_detail_driver{
  margin-bottom: 30px;
}

.google_calendar{
  margin-top: 20px;
}