<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div
            class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Bookings</h5>

                                    <span id="stats_traffic" class="h2 font-weight-bold mb-0">{{ bookings|length }}</span>

                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="{% if booking_comparison > 0 %}text-success{% elif booking_comparison < 0 %}
                                  text-danger{% else %}{% endif %} mr-2">
                                    {% if booking_comparison > 0 %}
                                        <i class="fa fa-arrow-up"></i>
                                    {% elif booking_comparison < 0 %}
                                        <i class="fa fa-arrow-down"></i>
                                    {% else %}
                                        <i class="fa fa-minus"></i>
                                    {% endif %}
                                    {{ "%.2f"|format(booking_comparison) }}%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>

                                    <span id="stats_users" class="h2 font-weight-bold mb-0">{{ users|length }}</span>

                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-chart-pie"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="{% if user_comparison > 0 %}text-success{% elif user_comparison < 0 %}
                                  text-danger{% else %}{% endif %} mr-2">
                                    {% if user_comparison > 0 %}
                                        <i class="fa fa-arrow-up"></i>
                                    {% elif user_comparison < 0 %}
                                        <i class="fa fa-arrow-down"></i>
                                    {% else %}
                                        <i class="fa fa-minus"></i>
                                    {% endif %}
                                    {{ "%.2f"|format(user_comparison) }}%</span>
                                <span class="text-nowrap">Since last week</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>

                                    <span id="stats_sales" class="h2 font-weight-bold mb-0">{{ "$%.2f"|format(sales) }}</span>

                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="{% if sales_comparison > 0 %}text-success{% elif sales_comparison < 0 %}
                                  text-danger{% else %}{% endif %} mr-2">
                                    {% if sales_comparison > 0 %}
                                        <i class="fa fa-arrow-up"></i>
                                    {% elif sales_comparison < 0 %}
                                        <i class="fa fa-arrow-down"></i>
                                    {% else %}
                                        <i class="fa fa-minus"></i>
                                    {% endif %}
                                    {{ "%.2f"|format(sales_comparison) }}%</span>
                                <span class="text-nowrap">Since yesterday</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Duration</h5>

                                    <span id="stats_perf" class="h2 font-weight-bold mb-0">{{ duration }} Hours</span>

                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-percent"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                              <span class="{% if duration_comparison > 0 %}text-success{% elif duration_comparison < 0 %}
                                text-danger{% else %}{% endif %} mr-2">
                                  {% if duration_comparison > 0 %}
                                      <i class="fa fa-arrow-up"></i>
                                  {% elif duration_comparison < 0 %}
                                      <i class="fa fa-arrow-down"></i>
                                  {% else %}
                                      <i class="fa fa-minus"></i>
                                  {% endif %}
                                  {{ "%.2f"|format(duration_comparison) }}%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
